<div class="aboutus-wrap" id="aboutus">
  <div class="container aboutus-container">
    <div class="row">
      <div class="col-md-12 heading">
        <h2><span>Our</span> Team</h2>
        <p>Be <em>visual</em>. We believe information is power and it is best delivered in ways that catch the eye. That's why we make data fun.</p>
        <p>Meet our team.</p>
      </div>
    </div>
    <div class="row team">
      <div class="col-md-3 member">
        <%= image_tag('corbin.jpg', class: 'img-responsive member-pic') %>
        <h3>Corbin Page</h3>
        <p>Psychic Medium</p>
        <div class="social">
          <a href="http://www.linkedin.com/in/corbintpage"><%= image_tag('icons/linkedin.png', class: 'img-responsive') %></a>
        </div>
      </div>
      <div class="col-md-3 member">
        <%= image_tag('joan.jpg', class: 'img-responsive member-pic') %>
        <h3>Joan Soskin</h3>
        <p>D3 Magician</p>
        <div class="social">
          <a href="http://www.linkedin.com/in/joansoskin"><%= image_tag('icons/linkedin.png', class: 'img-responsive') %></a>      
        </div>
      </div>
      <div class="col-md-3 member">
        <%= image_tag('william.jpg', class: 'img-responsive member-pic') %>
        <h3>William Jeffries</h3>
        <p>Technomancer</p>
        <div class="social">
          <a href="http://www.linkedin.com/in/williamjeffries"><%= image_tag('icons/linkedin.png', class: 'img-responsive') %></a>
        </div>
      </div>   
        <div class="col-md-3 member">
        <%= image_tag('daniel.jpg', class: 'img-responsive member-pic') %>
        <h3>Daniel Kronovet</h3>
        <p>Time Traveler</p>
        <div class="social">
          <a href="http://www.linkedin.com/in/dkronovet"><%= image_tag('icons/linkedin.png', class: 'img-responsive') %></a>
        </div>
      </div>            
    </div>  
    <div class="row">
      <div class="col-md-12 aboutus-link text-center">
        <a href="#contact" class="btn btn-lg btn-primary">Contact Us</a>
      </div>
    </div>    
  </div>
</div>
