<div class="services-wrap" id="services"> 
  <div class="container services-container">
    <div class="row">
      <div class="col-md-12 heading">
        <h2><span>Our</span> Tech</h2>
        <p>We built our visuals using a variety cutting edge front-end and back-end technologies.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 service">
        <%= image_tag('twitter_logo.png', class: 'img-responsive img-center tech-image', alt: "Twitter Streaming API")%>
        <h3>Twitter Streaming API</h3> 
        <p>Tapping into the firehose for real-time access to New York's streaming social consciousness.</p>
      </div>
      <div class="col-md-4 service">
        <%= image_tag('d3_logo.svg', class: 'img-responsive img-center tech-image', alt: "D3.js Library")%>
        <h3>D3.js</h3> 
        <p>Bringing data to life with the most powerful JavaScript visualization library on the web.</p>
      </div>
      <div class="col-md-4 service">
        <%= image_tag('googlemaps_logo.png', class: 'img-responsive img-center tech-image', alt: "Google Maps API")%>
        <h3>Google Maps API</h3> 
        <p>Overlaying spatial social awareness on top of the world's most sophisticated mapping software.</p>
      </div>
      <div class="col-md-4 service">
        <%= image_tag('ajax.png', class: 'img-responsive img-center tech-image', alt: "Asynchronous JavaScript")%>
        <h3>Asynchronous JavaScript</h3> 
        <p>Exchanging data asynchronously between browser and server to avoid full page reloads.</p>
      </div>
      <div class="col-md-4 service">
        <%= image_tag('capistrano.png', class: 'img-responsive img-center tech-image', alt: "Capistrano")%>
        <h3>Capistrano</h3> 
        <p>Running scripts on remote servers and automatically deploying web applications.</p>
      </div>
      <div class="col-md-4 service">
        <%= image_tag('code_climate.png', class: 'img-responsive img-center tech-image', alt: "Code Climate")%>
        <h3>Code Climate</h3> 
        <p>Using real time static analysis to help keep code quality up and technical debt down.</p>
      </div>
      <div class="col-md-4 service">
        <%= image_tag('codeship.png', class: 'img-responsive img-center tech-image', alt: "CodeShip")%>
        <h3>CodeShip</h3> 
        <p>Providing continuous deployment to release software automatically and multiple times a day.</p>
      </div>
      <div class="col-md-4 service">
        <%= image_tag('digital_ocean.png', class: 'img-responsive img-center tech-image', alt: "Digital Ocean")%>
        <h3>Digital Ocean</h3> 
        <p>Cloudhosting linux servers to provide big-business infrastructure even for small projects.</p>
      </div>
      <div class="col-md-4 service">
        <%= image_tag('github.png', class: 'img-responsive img-center tech-image', alt: "Github")%>
        <h3>Github</h3> 
        <p>Web-based source code hosting service and social network for developers that use Git.</p>
      </div>
      <div class="col-md-4 service">
        <%= image_tag('jquery.png', class: 'img-responsive img-center tech-image', alt: "JQuery")%>
        <h3>JQuery</h3> 
        <p>Providing a cross-platform JavaScript library simplify the client-side scripting of HTML.</p>
      </div>
      <div class="col-md-4 service">
        <%= image_tag('new_relic.png', class: 'img-responsive img-center tech-image', alt: "New Relic")%>
        <h3>New Relic</h3> 
        <p>Offering a performance management solution for diagnosing performance problems in real time.</p>
      </div>
      <div class="col-md-4 service">
        <%= image_tag('nginx.png', class: 'img-responsive img-center tech-image', alt: "NGINX")%>
        <h3>NGINX</h3> 
        <p>Taking an asynchronous event-driven approach to reverse proxy servers for the web.</p>
      </div>
      <div class="col-md-4 service">
        <%= image_tag('postgresql.png', class: 'img-responsive img-center tech-image', alt: "PostgresQL")%>
        <h3>PostgresQL</h3> 
        <p>Still the world’s most advanced open source object-relational database management system.</p>
      </div>
      <div class="col-md-4 service">
        <%= image_tag('redis.png', class: 'img-responsive img-center tech-image', alt: "Redis")%>
        <h3>Redis</h3> 
        <p>An open-source, networked, in-memory, key-value data store with optional durability.</p>
      </div>
      <div class="col-md-4 service">
        <%= image_tag('rails.png', class: 'img-responsive img-center tech-image', alt: "Rails")%>
        <h3>Rails</h3> 
        <p>Our favorite open source full stack web application framework for ruby.</p>
      </div>
      <div class="col-md-4 service">
        <%= image_tag('ruby.png', class: 'img-responsive img-center tech-image', alt: "Ruby")%>
        <h3>Ruby</h3> 
        <p>A dynamic, open source programming language with a focus on simplicity and productivity.</p>
      </div>
      <div class="col-md-4 service">
        <%= image_tag('ubuntu.png', class: 'img-responsive img-center tech-image', alt: "Ubuntu")%>
        <h3>Ubuntu</h3> 
        <p>This Debian-based operating system is our personal favorite flavor of Linux.</p>
      </div>
      <div class="col-md-4 service">
        <%= image_tag('web_trifecta.png', class: 'img-responsive img-center tech-image', alt: "HTML5, JS, & CSS")%>
        <h3>HTML5, JS, & CSS</h3> 
        <p>The flesh of the internet and essential tools for every web developer.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 portfolio-link text-center">
        <a href="#aboutus" class="btn btn-lg btn-primary">About Us</a>
      </div>
    </div>
  </div>
</div>

