<div class="portfolio-wrap" id="work">
  <div class="container portfolio-container">
    <div class="row">
      <div class="col-md-12 heading">
        <h2><span>Our</span> Visualizations</h2>
        <p>New York's streaming data contains thousands of different stories.<br>We focused our narrative on the city's real-time pulse, fears, and interests and brought the stories to life with some unforgetable visualizations.</p>
      </div>
    </div>
    <div class="row items portfolio-list">
      <div class="col-md-4 item">
        <a href="/heatmap">
          <%= image_tag("heatmapshot.gif", class: 'img-responsive example-gif') %>
          <span class="overlay"><span class="overlay-icon fa fa-plus"><%= image_tag("icons/portfolio-link.png") %></span></span>
        </a>
        <h3>HivePulse</h3>
      </div>
      <div class="col-md-4 item">
        <a href="/twubbles">
          <%= image_tag("twubbles_example.gif", class: 'img-responsive example-gif') %>
          <span class="overlay"><span class="overlay-icon fa fa-plus"><%= image_tag("icons/portfolio-link.png") %></span></span>
        </a>
        <h3>Twubbles</h3>         
      </div>
      <div class="col-md-4 item">
        <a href="/techochamber">
          <%= image_tag("work.jpg", class: 'img-responsive example-gif') %>
          <span class="overlay"><span class="overlay-icon fa fa-plus"><%= image_tag("icons/portfolio-link.png", alt: 'open link') %></span></span>
        </a>
        <h3>The Techo Chamber</h3>          
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 aboutus-link text-center">
        <a href="#services" class="btn btn-lg btn-primary">Our Tech</a>
      </div>
    </div>      
  </div>
</div>

