<div class="portfolio-wrap" id="work">
  <div class="container portfolio-container">
    <div class="row">
      <div class="col-md-12 heading">
        <h2><span>Our</span> Visualizations</h2>
        <p>We are wizards and data visualization is magic. <br> We hope you'll find our spells as delightful as we do.</p>
      </div>
    </div>
    <div class="row items portfolio-list">
      <div class="col-md-4 item">
        <a href="/heatmap">
          <%= image_tag("heatmapshot.gif", class: 'img-responsive') %>
          <span class="overlay"><span class="overlay-icon fa fa-plus"><%= image_tag("icons/portfolio-link.png") %></span></span>
        </a>
        <h3>HivePulse</h3>
      </div>
      <div class="col-md-4 item">
        <a href="/beverage">
          <%= image_tag("twibbles.gif", class: 'img-responsive') %>
          <span class="overlay"><span class="overlay-icon fa fa-plus"><%= image_tag("icons/portfolio-link.png") %></span></span>
        </a>
        <h3>Twubbles</h3>         
      </div>
      <div class="col-md-4 item">
        <a href="/showreel">
          <%= image_tag("work.jpg", class: 'img-responsive') %>
          <span class="overlay"><span class="overlay-icon fa fa-plus"><%= image_tag("icons/portfolio-link.png", alt: 'open link') %></span></span>
        </a>
        <h3>The Techo Chamber</h3>          
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 aboutus-link text-center">
        <a href="#aboutus" class="btn btn-lg btn-primary">About Us</a>
      </div>
    </div>      
  </div>
</div>

