<!DOCTYPE html>
<html>
  <head>
    <title>Twibbles</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" >
    <%= analytics_init if Rails.env.production? %>
    <%= javascript_include_tag 'application', 'beverage' %>
    <%= stylesheet_link_tag    'application', 'beverage', media: 'all' %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>" > 
    <div class="container">
      <div class="row">
        <div id="bubbles"class="col-sm-8 col-sm-offset-2 pagination-centered"></div>
      </div>
    </div>
  </body>
</html>